*,
*::before,
*::after {
    box-sizing: border-box;
    outline: 2px solid red;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

img {
    width: 100%;
    height: auto;
}

.containers {
    padding: 50px;
}

.first {
    background-color: #1f2937;
    color: #fff;
}


.row {
    width: 950px;
    max-width: 95%;
    margin: 0 auto;
}

/*Navbar style*/
.navbar {
    display: flex;
    justify-content: space-between;
}

.right-links {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    gap: 40px;
}

.navbar a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

/*Hero text and image*/

.two-columns {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0 50px;
    gap: 10px;
    
}

.hero-image {
    margin-left: auto;
    max-width: 50%;
}

.text-hero {
    max-width: 45%;
}

.text-hero h1 {
    font-size: 48px;
    font-weight: bolder;
}

.text-hero p {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 20px;
}

.bttn {
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: bolder;
    border-radius: 12px;
    font-size: 18px;
    padding: 8px 22px;
    margin-top: 20px;
}

/*Second container*/
.second {
    display: flex;
    flex-direction: column;
}

.second h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 950px;
    max-width: 90%;
    margin: 60px auto 20px;
    padding: 40px 30px 20px;
    
}

.cards {
    max-width: 150px;
    margin: 30px;
}

.cards img {
    border: 2px solid#3882f6;
    border-radius: 10px;
    margin-bottom: 20px;
}

.cards p {
    text-align: center;
}

/*Quote section*/

.third {
    background-color: #e5e7eb;
    padding: 80px 50px;
    color: #1f2937;
}

.quote {
    width:950px;
    max-width: 90%;
    margin: 0 auto;
    padding: 40px 80px;
}

.main-quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    
}

.author-signature {
    text-align: right;
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
}

/* CALL TO ACTION CONTAINER*/

.fourth {
    padding: 50px;
}

.cll-to-action {
    margin: 40px auto;
    padding: 40px 0;
    background-color: #3882f6;
    color: #e5e7eb;
    width: 950px;
    max-width: 90%;
    border-radius: 10px;
}

.main-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px; 
    padding: 20px 100px; 

}

.action-text {
    flex: 1 0;
}


.action-text>h3 {
    font-size: 22px;
}

.action-text p {
    margin-top: 10px;
    font-size: 18px;
}

.action-button .bttn {
    border: 2px solid #e5e7eb;  
    margin-top: auto;  
}